body {
    background: #e6e6e6;
    margin: 0
}

.form {
    width: 340px;
    height: 340px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

h2 {
    margin: auto;
    padding-bottom: 10px;
    width: 500px;
    color: #78788c;
    border-bottom: 3px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 12px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

div button {
    float: left;
    padding: 8px 12px;
    margin: 0px 75px 0px 75px;
}

button:hover {
    background: #78788c;
    color: #fff
}

div {
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #e6e6e6;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}

div button img {
    vertical-align: middle;
    width: 24px;
}

.table {
    margin: auto;
    width: 500px;
    border: none;
}

.table thead th {
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.table tbody td {
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.table thead tr th:first-child, .table tbody tr td:first-child {
    border-left: none;
}

.table thead tr th:last-child, .table tbody tr td:last-child {
    border-right: none;
}

.table tbody tr:nth-child(even) {
    background: #f3f3f3;
}


