{% extends 'base.html' %}

{% block title %}load file{% endblock %}
{% block content %}
<h2>Результат выборки слов по TF-IDF </h2>
{% if result %}
    <table class="table">
        <thead>
            <tr>
                <th class="table">№</th>
                <th class="table">Слово</th>
                <th class="table">TF</th>
                <th class="table">IDF</th>
            </tr>
        </thead>
        {% for word in result %}
                <tr>
                    <td class="table">{{forloop.counter}}</td>
                    <td class="table">{{word.name}}</td>
                    <td class="table">{{word.tf|floatformat:3}}</td>
                    <td class="table">{{word.idf|floatformat:3}}</td>
                </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Слов нет</p>
{% endif %}
{% endblock %}